{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if user_obj.pk == request.user.pk  %}
        <li><a href="{% url 'accounts:change' user_obj.pk %}">Редактировать</a></li>
        <li><a href="{% url 'accounts:password_change' user_obj.pk %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="text-align: left">
        <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
        {% if user_obj.profile.avatar %}
            <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
        {% endif %}
        <p>Логин: {{ user_obj.username }}</p>
        <p>Имя: {{ user_obj.first_name }}</p>
        <p>Почта: {{ user_obj.email }}</p>
    </div>
    <h2 class="text-center clear">Отзывы пользователя:</h2>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for review in user_obj.reviews.all %}
        <div class="box">
            <h3>Автор:
                <a href="{% url 'accounts:detail' review.author_id %}" class="card-link">{{ review.author }}</a>
            </h3>
            <p>Email: {{ review.author.email }}</p>
            <p>Rate: {{ review.rating }}</p>
            <p>Status: {{ review.status }}</p>
            <hr>
            <div class="pre">{{ review.text }}</div>
            {% if perms.webapp.change_review or review.author == request.user %}
                <p><a href="{% url 'review_update' review.pk %}" class="card-link">Update</a></p>
            {% endif %}
            {% if perms.webapp.delete_review or review.author == request.user %}
                <p><a href="{% url 'review_delete' review.pk %}" class="card-link">Delete</a></p>
            {% endif %}
        </div>
    {% empty %}
        <p>Нет отзыва</p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}